{% extends 'base.html' %}

{% block content %}
  <div style="display: flex; justify-content: center;">
    <table style="width: 80%; border-collapse: collapse;">
      <thead>
        <tr style="background-color: #F8F8F8;">
            <th style="padding: 10px 5px; text-align: left;">User</th>
            <th style="padding: 10px 5px; text-align: left; width: 60%;">Message</th>
            <th style="padding: 10px 5px; text-align: left;">Date Created</th>
        </tr>
      </thead>
      <tbody>
        {% for feedback in feedbacks %}
        <tr>
          <td>{{ feedback.user }}</td>
          <td>{{ feedback.message }}</td>
          <td>{{ feedback.created_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
